<div class="cinema-details-container">
  <h1>{{ cinema.name }}</h1>
  <strong>Ilość dostępnych sal: {{cinema.auditoriums.length}}</strong>
  <h2>Sale</h2>
  <div class="cinema-details-auditoriums">
    <div *ngFor="let auditorium of cinema.auditoriums" class="cinema-details-auditorium">
      <button routerLink="/cinemas/addMovie/{{cinema.id}}/{{auditorium.id}}">Dodaj film</button>
      <h3>{{auditorium.number}}</h3>
      <app-cinema-seats [rows]="auditorium.rows"></app-cinema-seats>
    </div>
  </div>
  <h2>Filmy</h2>
  <table mat-table [dataSource]="scheduledMovies" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.movie.name }} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef> Start</th>
      <td mat-cell *matCellDef="let element"> {{ element.start | date: 'dd-MM-YYYY HH:mm' }} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef> End</th>
      <td mat-cell *matCellDef="let element"> {{ element.end | date: 'dd-MM-YYYY HH:mm' }} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element"><button mat-button routerLink="/cinemas/book/{{element.id}}">Zarezerwuj</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
